:root {
  --basic-red: #ee3643;
  --basic-extra-dark: #293449;
  --basic-green: #63a63e;
  --basic-dark: #32425c;
  --basic-extra-light: #f9f5f0;
  --background: #3d546f;
  --basic-greylight: #c5c5c5;
  --basic-background: #f1f5f7;
  --error: #ba2732;
  --basic-white: #ffffff;
  --basic-black: #000000;

  --special-yellow: #ffbf47;
  --special-blue: #3BBCE3;
  --special-violet: #DC91D8;
  --special-green: #8ED78F;
  --special-grey: #A9A9A9;
  --special-light: #F3F7F9;
  --special-extra-yellow: #FFD180;
  --special-filter: #F7F3EC;
  --special-border: #E5E5E5;
  --special-light-border: #EAEAEA;

}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

.button {
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

.main-header {
  display: grid;
  background-color: var(--basic-background);
  margin-bottom: 70px;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.header-top {
  background-color: var(--basic-extra-dark);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.container {
  margin: 0 auto;
  width: 940px;
}

.layot-menu {
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
}

.header-logo {
  display: inline-block;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);

  outline: 5px solid rgba(255, 0, 0, 0.3);
}

.header-logo:hover,
.header-logo:focus {
  background-color: var(--basic-red);
}

.header-logo:active {
  background-color: var(--error);
}

.search {
  background-color: transparent;
  border: none;
  font: inherit;
  color: var(--basic-white);
}

.header-menu {
  list-style: none;
}

.header-menu-link {
  color: inherit;
}

.button-order {
  background-color: var(--basic-green);
  padding: 9px;
  padding-left: 19px;
  padding-right: 16px;
  color: inherit;
}

.layot-info {
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
}

.info-line {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.contacts-phone {
  border: 3px solid var(--basic-white);
  color: var(--basic-red);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-dark);
}

.login-list {
  list-style: none;
}

.login-link {
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.login {
  padding: 12px 27px 12px 45px;
}

.chekin {
  padding: 12px 24px;
}

.site-navigation {
  background-color: var(--basic-dark);
  box-shadow: inset 0px -5px 0px var(--basic-extra-dark);

  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.site-navigation-list {
  list-style: none;
}

.site-navigation-link {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
}

.features-list {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

}

.features-item {
  width: 300px;
  height: 123px;
  color: var(--basic-white);

}

.features-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.features-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-image: url("../img/clearbtn.svg");
}

.features-slider {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.features-slider-content {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
}

.slider-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.slider-content {
  background-color: var(--basic-greylight);
  height: 100%;
  padding-top: 23px;
  padding-left: 24px;
  padding-bottom: 24px;
}

.slider-1 {
  background-image: url("../img/slide-1.jpg");
}

.slider-2 {
  display: none;
  background-image: url("../img/slide-2.jpg");
}

.slider-button {
  position: absolute;
}

.button-catalog {
  padding: 46px;
  padding-top: 11px;
  padding-bottom: 9px;
}

.material {
  background-color: var(--special-yellow);
}

.instrument {
  background-color: var(--special-blue);
}

.technique {
  background-color: var(--special-violet);
}

.sale {
  background-color: var(--special-green);
}

.delivery {
  background-color: var(--special-yellow);
}

.popular-product {
  margin-top: 59px;
}

.popular-headline {
  background-color: var(--basic-extra-light);
}

.popular-title {
  color: var(--basic-dark);
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

.button-product {
  padding: 24px;
  padding-top: 11px;
  padding-bottom: 9px;
}

.popular-product-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}

.product-card {
  display: inline-block;
  width: 220px;
  height: 318px;
  margin-top: 20px;
  border: 1px solid var(--special-light-border);
  box-sizing: border-box;
}

.product-card-img {
  width: 144px;
  height: 128px;
  margin-top: 22px;
  margin-left: 33px;
  margin-right: 43px;
  text-align: center;
}

.product-header {
  margin-top: 28px;
  margin-bottom: 0px;
  margin-left: 17px;
  margin-right: 18px;
  text-align: center;
}

.product-link {
  color: var(--basic-black);
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.product-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.old-price {
  color: var(--special-grey);
  text-decoration-line: line-through;
  margin-top: 8px;
}

.new-price {
  color: var(--basic-white);
  background-image: url("../img/price.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-top: 13px;
  margin-bottom: 21px;
  padding: 10px 0;
}

.popular-brands {
  margin-top: 70px;
}

.vendor-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.vendor-item {
  background-color: var(--basic-white);
  width: 220px;
  height: 145px;
  position: relative;
}

.vendor-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-vendor {
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 39px;
  padding-right: 38px;
}

.service-page {
  background-color: var(--basic-background);
  margin-top: 70px;
}

.page-title {
  color: var(--basic-black);
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.page-text {
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
}

.service-list {
  list-style: none;
}

.service-button {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.button-delivery {
  background-color: var(--basic-white);
  color: var(--basic-dark);
}

.button-guarantee,
.button-loan {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.service-page-title {
  color: var(--basic-dark);
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.button-credit {
  padding: 10px;
  padding-left: 45px;
  padding-right: 44px;
}

.partnership-list {
  list-style: none;
}

.partnership-item {
  color: var(--basic-black);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.button-info {
  padding: 40px;
  padding-top: 11px;
  padding-bottom: 9px;
}

.button-contact {
  padding-left: 62px;
  padding-right: 61px;
  padding-top: 11px;
  padding-bottom: 9px;
}

.main-footer {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.footer-info {
  background-color: var(--basic-dark);
}

.footer-logo {
  display: inline-block;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-logo:hover,
.footer-logo:focus {
  background-color: var(--basic-red);
}

.footer-logo:active {
  background-color: var(--error);
}

.footer-navigation-list {
  list-style: none;
}

.footer-navigation-item {
  color: var(--basic-background);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.footer-contacts {
  color: var(--special-light);
  font-size: 18px;
  line-height: 24px;
}

.footer-features-list {
  list-style: none;
}

.footer-features-item {
  color: var(--special-extra-yellow);
  font-size: 18px;
  line-height: 24px;
}

.footer-feedback {
  background-color: var(--basic-extra-dark);
}

.info-text {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
}

.info-link {
  color: var(--special-extra-yellow);
}

.footer-social-list {
  list-style: none;
}

/* Catalog */

.basket-link {
  background-color: var(--basic-red);
  padding: 9px 23px 9px 47px;
}

.user-block-top {
  background-image: url("../img/profile.svg");
  background-repeat: no-repeat;
  padding: 12px;
  padding-left: 56px;
  padding-right: 57px;
}

.user-name {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.user-block-bottom {
  list-style: none;
}

.user-block-link {
  color: var(--basic-dark);
  font-size: 16px;
  line-height: 18px;
}

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-item {
  color: var(--basic-black);
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-top {
  background-color: var(--basic-background);
  padding: 29px;
  padding-bottom: 30px;
}

.catalog-title {
  color: var(--basic-dark);
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-header {
  background-color: var(--special-filter);
}

.filter-header-title {
  color: var(--basic-black);
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-title {
  color: var(--basic-black);
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-vendor-item {
  color: var(--basic-black);
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-supply-item {
  color: var(--basic-black);
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.button-filter {
  background: var(--basic-white);
  border: 1px solid var(--special-border);
  box-sizing: border-box;
  color: var(--basic-black);
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 79px 10px 79px;
}

.catalog-page {
  background-color: var(--basic-background);
}

.page {
  height: 100%;
}

.catalog-product-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 18px;
}

.page-number-list {
  list-style: none;
}

.page-number-item {
  background-color: var(--basic-white);
  border: 1px solid var(--special-border);
  box-sizing: border-box;
  border-radius: 2px;
  color: var(--basic-black);
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 15px;
}

.first-page {
  background-color: var(--basic-red);
  color: var(--basic-white);
}
.next-page {
  padding-left: 32px;
  padding-right: 31px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: (0 0 0 0);
}
